*
  box-sizing: border-box

.container  
  width: 1170px
  margin: auto 

.img 
  max-width: 100%  

body 
  font-family: 'Roboto', sans-serif

@media (max-width: 1200px)
  .container
    width: 768px  
    width: 90%